{% extends 'layout.html' %}

{% block content %}
<div>
    <a class="btn btn-primary" href="/depart/add"  style="margin-bottom: 10px">

            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建部门
    </a>
    <a class="btn btn-primary" href="/depart/modelform/add"  style="margin-bottom: 10px">

            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建部门modelform
    </a>
   <div class="input-group" style="float: right;width: 300px">
       <form method="get">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="部门名" name="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"  href="/depart/list?search={{ queryset.title }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
       </form>
   </div>
    <div class="bs-example" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                部门列表
            </font></font>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">id</font></font>
                    </th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">部门名</font></font>
                    </th>
{#                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">姓</font></font>#}
{#                    </th>#}
                    <th><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">操作</font></font></th>
                </tr>
                </thead>
                <tbody>
                {% for obj in page_obj %}
                    <tr>
                        <th scope="row"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">{{ obj.id }}</font></font></th>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ obj.title}}</font></font>
                        </td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/change">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/depart/delete?nid={{ obj.id }}">删除</a>
                        </font></font>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
  <ul class="pagination" >
    <!-- 首页链接 -->
{% if page_obj.has_previous %}
<li>
    <a href="?page=1" aria-label="Previous">
        <span aria-hidden="true">首页</span>
    </a>
</li>
{% else %}
<li class="disabled">
    <span aria-hidden="true">首页</span>
</li>
{% endif %}

<!-- 上一页链接 -->
{% if page_obj.has_previous %}
<li>
    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">上一页</span>
    </a>
</li>
{% else %}
<li class="disabled">
    <span aria-hidden="true">上一页</span>
</li>
{% endif %}

<!-- 页码链接 -->
{% for num in page_obj.paginator.page_range %}
{% if num == page_obj.number %}
<li class="active">
    <span aria-hidden="true">{{ num }}</span>
</li>
{% else %}
<li>
    <a href="?page={{ num }}" href="#">{{ num }}</a>
</li>
{% endif %}
{% endfor %}

<!-- 下一页链接 -->
{% if page_obj.has_next %}
<li>
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">下一页</span>
    </a>
</li>
{% else %}
<li class="disabled">
    <span aria-hidden="true">下一页</span>
</li>
{% endif %}

<!-- 尾页链接 -->
{% if page_obj.has_next %}
<li>
    <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">尾页</span>
</a>
</li>
{% else %}
<li class="disabled">
    <span aria-hidden="true">尾页</span>
</li>
{% endif %}
  </ul>
</nav>
    </div>
</div>
{% endblock  %}