{% extends "layout.html" %}
{% block content %}
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">添加员工</h3>

    </div>
   <div class="panel-body" >
        <form method="post" >
            {% csrf_token %}
            {% for obj in form%}
                <div class="form-group" >
                    <label for="exampleInputEmail1">{{ obj.label }}</label>
                      {{ obj }}
                    <span style="color: red">{{ obj.errors.0 }}</span>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">提交</button>
            <a  class="btn btn-danger" href="/user/list">返回</a>
        </form>
    </div>
</div>
{% endblock %}

{% block time%}
<script>
    $(document).ready(function () {
        $('#createtime').datepicker({
            // 这里可以配置各种datepicker的参数，比如格式、语言等
            format: "yyyy/mm/dd",
            language:'zh-CN',
            autoclose: 'true'
        });
    });
</script>

{% endblock %}